<div class="content-vertical">
  <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" formControlName="username" type="text">
      <label for="password">Password</label>
      <input class="form-control" formControlName="password" type="password">
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <button [disabled]="!signupForm.valid" type="submit" class="btn btn-success">Sign Up</button>
      <p><a routerLink="/login" class="alternate-link">Already have an account? Login</a></p>
    </div>
  </form>
</div>
