.content {
    display: flex;
    height: 100vh;
  }
  
  .lefthalf, .righthalf {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lefthalf {
    padding: 20px;
    box-sizing: border-box;
  }
  
  .righthalf {
    padding: 20px;
    box-sizing: border-box;
  }
  