header {
    background-color: #1770ca; /* Dark background for the navbar */
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
  }
  
  .navbar {
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  .logo a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
  }
  
  .logo img {
    height: 40px; /* Adjust size as needed */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    padding: 0 15px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #1abc9c; /* Light blue hover effect */
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: block;
      text-align: center;
    }
  
    .nav-links li {
      padding: 10px;
    }
  }
  